<a href="https://colab.research.google.com/github/vyshnav23/vyshnav_INFO5731_Spring2020/blob/master/isinfluential.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd 
df=pd.read_csv('Final_Table_3.csv')

In [2]:
df.dtypes

Unnamed: 0         int64
article_id        object
paperId           object
doi               object
title             object
venue             object
year             float64
intent            object
isInfluential       bool
dtype: object

In [0]:
y=df.groupby('year')

In [4]:
y.get_group(1985.0)

      Unnamed: 0             article_id  ...                  intent isInfluential
41            41  10.1145/511285.511304  ...                     NaN         False
44            44  10.1145/511285.511304  ...                     NaN         False
47            47  10.1145/511285.511304  ...                     NaN         False
137          137  10.1145/800096.803132  ...                     NaN         False
730          730  10.1145/511754.511759  ...                     NaN         False
773          773  10.1145/511754.511775  ...                     NaN         False
810          810  10.1145/511793.511799  ...                     NaN         False
817          817  10.1145/511793.511804  ...              background         False
849          849  10.1145/511793.511809  ...                     NaN         False
925          925  10.1145/511793.511810  ...  methodology background         False
926          926  10.1145/511793.511810  ...                     NaN         False
939          939  10.1145/511793.511814  ...                     NaN         False
949          949  10.1145/511793.511816  ...                     NaN         False
958          958  10.1145/511793.511820  ...                     NaN         False
1248        1248  10.1145/253495.253508  ...              background         False
1697        1697  10.1145/253495.253528  ...                     NaN         False

[16 rows x 9 columns]

In [5]:
df.groupby('year').size()

year
1959.0        1
1971.0        2
1972.0        2
1973.0       10
1974.0        2
1975.0        3
1976.0        2
1977.0        8
1978.0        2
1979.0        6
1980.0        5
1981.0        3
1982.0        5
1983.0        7
1984.0        3
1985.0       16
1986.0       23
1987.0       46
1988.0       68
1989.0      112
1990.0       66
1991.0      129
1992.0      230
1993.0      260
1994.0      390
1995.0      468
1996.0      592
1997.0      757
1998.0     1118
1999.0     1298
2000.0     1795
2001.0     1969
2002.0     2583
2003.0     3042
2004.0     4048
2005.0     4817
2006.0     5750
2007.0     6985
2008.0     8202
2009.0     9283
2010.0     9308
2011.0    10228
2012.0    11113
2013.0    11404
2014.0    12427
2015.0    12252
2016.0    12687
2017.0    12879
2018.0    12114
2019.0    11836
2020.0     2253
dtype: int64

In [0]:
count=df.groupby(['year','isInfluential']).size()

In [7]:
print(count)

year    isInfluential
1959.0  False                1
1971.0  False                2
1972.0  False                2
1973.0  False               10
1974.0  False                1
                         ...
2018.0  True              1338
2019.0  False            10482
        True              1354
2020.0  False             1954
        True               299
Length: 87, dtype: int64

In [0]:
count_df=pd.DataFrame(count,columns=['Count'])

In [0]:
count_df.to_csv('count_file.csv')

In [10]:
count_df.head(30)

                      Count
year   isInfluential
1959.0 False              1
1971.0 False              2
1972.0 False              2
1973.0 False             10
1974.0 False              1
       True               1
1975.0 False              3
1976.0 False              2
1977.0 False              8
1978.0 False              2
1979.0 False              6
1980.0 False              5
1981.0 False              3
1982.0 False              5
1983.0 False              6
       True               1
1984.0 False              3
1985.0 False             16
1986.0 False             23
1987.0 False             45
       True               1
1988.0 False             65
       True               3
1989.0 False            109
       True               3
1990.0 False             61
       True               5
1991.0 False            125
       True               4
1992.0 False            218

In [11]:
df.sort_values('year')

        Unnamed: 0  ... isInfluential
51245        51245  ...         False
56              56  ...         False
54              54  ...         False
61              61  ...         False
36              36  ...         False
...            ...  ...           ...
172634        4691  ...         False
172636        4693  ...         False
173274        5331  ...         False
173287        5344  ...         False
173359        5416  ...         False

[173453 rows x 9 columns]

In [12]:
count_year = count_df.pivot_table('Count',['year'],'isInfluential')
count_year

isInfluential    False   True
year
1959.0             1.0     NaN
1971.0             2.0     NaN
1972.0             2.0     NaN
1973.0            10.0     NaN
1974.0             1.0     1.0
1975.0             3.0     NaN
1976.0             2.0     NaN
1977.0             8.0     NaN
1978.0             2.0     NaN
1979.0             6.0     NaN
1980.0             5.0     NaN
1981.0             3.0     NaN
1982.0             5.0     NaN
1983.0             6.0     1.0
1984.0             3.0     NaN
1985.0            16.0     NaN
1986.0            23.0     NaN
1987.0            45.0     1.0
1988.0            65.0     3.0
1989.0           109.0     3.0
1990.0            61.0     5.0
1991.0           125.0     4.0
1992.0           218.0    12.0
1993.0           253.0     7.0
1994.0           359.0    31.0
1995.0           439.0    29.0
1996.0           557.0    35.0
1997.0           708.0    49.0
1998.0          1059.0    59.0
1999.0          1202.0    96.0
2000.0          1639.0   156.0
2001.0          1814.0   155.0
2002.0          2321.0   262.0
2003.0          2761.0   281.0
2004.0          3666.0   382.0
2005.0          4359.0   458.0
2006.0          5149.0   601.0
2007.0          6158.0   827.0
2008.0          7287.0   915.0
2009.0          8293.0   990.0
2010.0          8257.0  1051.0
2011.0          9031.0  1197.0
2012.0          9811.0  1302.0
2013.0         10088.0  1316.0
2014.0         11012.0  1415.0
2015.0         10876.0  1376.0
2016.0         11296.0  1391.0
2017.0         11507.0  1372.0
2018.0         10776.0  1338.0
2019.0         10482.0  1354.0
2020.0          1954.0   299.0

In [13]:
for col in count_year.columns:
    print(col)

False
True

In [14]:
false_count=count_year.iloc[:,0].sum()
print(false_count)

153835.0

In [15]:
true_count=count_year.iloc[:,1].sum()
print(true_count)

18774.0

In [16]:
total=false_count+true_count
total

172609.0

In [17]:
true_avg=true_count/total
true_avg

0.10876605507244698

In [18]:
false_count=count_year.iloc[:1,0].sum()
true_count=count_year.iloc[:1,1].sum()
total=false_count+true_count
true_avg=true_count/total
print('1951:',true_avg)
for i in range(1,len(count_year),5):
  false_count=count_year.iloc[i:i+5,0].sum()
  true_count=count_year.iloc[i:i+5,1].sum()
  total=false_count+true_count
  true_avg=true_count/total
  print(true_avg)

1951: 0.0
0.05263157894736842
0.0
0.029411764705882353
0.0380952380952381
0.056194989844278946
0.0710431654676259
0.0934443161795978
0.11090872293058085
0.1150390080802452
0.11114759798334911

In [19]:
for i in range(len(count_year)):
  false_count=count_year.iloc[i:i+1,0].sum()
  true_count=count_year.iloc[i:i+1,1].sum()
  total=false_count+true_count
  true_avg=true_count/total
  print(true_avg)

0.0
0.0
0.0
0.0
0.5
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.14285714285714285
0.0
0.0
0.0
0.021739130434782608
0.04411764705882353
0.026785714285714284
0.07575757575757576
0.031007751937984496
0.05217391304347826
0.026923076923076925
0.07948717948717948
0.06196581196581197
0.05912162162162162
0.06472919418758256
0.052772808586762074
0.07395993836671803
0.08690807799442897
0.0787201625190452
0.10143244289585752
0.09237343852728468
0.09436758893280632
0.09507992526468756
0.10452173913043478
0.1183965640658554
0.11155815654718361
0.10664655822471183
0.112913622690159
0.11703167774736019
0.11716008278592639
0.11539810592774465
0.11386497143316972
0.11230819458047665
0.10963978876014818
0.1065300100939514
0.1104507181773155
0.11439675566069618
0.13271193963604083