<a href="https://colab.research.google.com/github/vyshnav23/vyshnav_INFO5731_Spring2020/blob/master/in_class_exercise/Copy_of_In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise**

(1) Write a Python program to calculate the length of a string.

In [0]:
a=input("enter the string  ")
print(len(a))

enter the string  vyshnav
7

(2) Write a Python program to count the number of characters in a string.

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [0]:
# write your answer here
def char_frequency(string1):
    dict1 = {}
    for n in string1:
        keys = dict1.keys()
        if n in keys:
            dict1[n] += 1
        else:
            dict1[n] = 1
    return dict1
print(char_frequency('google.com'))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list

In [0]:
# write your answer here
my_list=[23,57,97,88,54]
totalsum=sum(my_list)
print(totalsum)

319

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. 

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [0]:
# write your answer here
def change_char(string1):
  char = string1[0]
  string1 = string1.replace(char, '$')
  string1 = char + string1[1:]

  return string1

print(change_char('restart'))

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$

In [0]:
# write your answer here
A=input ("Enter the value of a")
B=input ("Enter the value of b")
S=3.14*(1+(float(A)/float(B)))**3
print(S)

Enter the value of a2
Enter the value of b3
14.537037037037033

(6) Write a Python program to concatenate following dictionaries to create a new one. 

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [0]:
# write your answer here
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4={}
for d in (dic1,dic2,dic3): dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple.

In [0]:
# write your answer here
mytuple=("aron","james","vince")
if "james" in mytuple:
  print("The element is present in the given tuple ")

The element is present in the given tuple

(8) Write a Python program to find maximum and the minimum value in a set.

In [0]:
# write your answer here
aSet={"3509","3528","566187","2912","29" }
print(max(aSet))
print(min(aSet))

566187
29

(9) Write a Python program to randomly divide the students in this class into four groups for term projects. Here is the students list:

studnet_list = ['sa0753','laa0240','lba0043','pb0283','vmb0067','vcd0017','ag1121','lg0426','mj0396','ak0860','vk0222','vk0216',
                'tpk0023','nk0327','mk0830','tbl0041','al0787','am1823','sm1515','km0738','hn0139','an0521','ap0975','dp1080',
                'pk0292','vp0241','rp0477','hr0178','ps0501','ss1976','ss1872','ss1872','bs0490','pt0218','ry0104']

In [0]:
# write your answer here
import random
student_list = ['sa0753','laa0240','lba0043','pb0283','vmb0067','vcd0017','ag1121','lg0426','mj0396','ak0860','vk0222','vk0216', 'tpk0023','nk0327','mk0830','tbl0041','al0787','am1823','sm1515','km0738','hn0139','an0521','ap0975','dp1080', 'pk0292','vp0241','rp0477','hr0178','ps0501','ss1976','ss1872','ss1872','bs0490','pt0218','ry0104']
for i in range(4):
  sample= random.choices(student_list,k=6)
  student_list=[i for i in student_list if i not in sample]
  print("The students in the group  " + str(i+1)+ "are " , sample)

The students in the group  1are  ['lg0426', 'ss1976', 'am1823', 'al0787', 'lba0043', 'vmb0067']
The students in the group  2are  ['ps0501', 'pt0218', 'dp1080', 'hn0139', 'sm1515', 'bs0490']
The students in the group  3are  ['pb0283', 'ap0975', 'vk0216', 'ry0104', 'ry0104', 'laa0240']
The students in the group  4are  ['an0521', 'ag1121', 'vp0241', 'tpk0023', 'vp0241', 'ak0860']